<!DOCTYPE html>
<html>
<head>
    <title>Exchange</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src='{{ url_for('static',filename='JS/modernizr.custom.js') }}'></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel='stylesheet' href='{{ url_for('static',filename='CSS/bootstrap.min.css') }}'>
    <link rel='stylesheet' href='{{ url_for('static',filename='CSS/dashboard.css') }}'>
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/jquery-ui.css') }}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src='{{ url_for('static',filename='JS/jquery.min.js') }}'></script>
    <script src="{{ url_for('static',filename='JS/jquery-ui.js') }}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src='{{ url_for('static',filename='JS/bootstrap.min.js') }}'></script>
     <!-- WARNING: Respond.js doesn't work if you view the page via file://  and the response.js is for @media -->
    <!--[if lt IE 9]>
        <script src='{{ url_for('static',filename='JS/respond.src.js') }}'></script>
    <![endif]-->
    <script src='{{ url_for('static',filename='JS/input-limit.js') }}'></script>
</head>
<style>
    body {
        padding-top: 70px;
        //font-size: 1.15em;
        //background-color: #eee;
    }
    .div_border{
        width: 230px;
        padding: 10px;
        border-radius: 6px;
        background-color: #eee;
        color: #444;
        font-size: 12px;
        margin-right: 25px;
    }
    .my-checkbox {
         width: 19px;
         height: 25px;
         padding: 0 5px 0 0;
         //background: url({{ url_for('static',filename='img/checkbox.png') }}) no-repeat;
         display: block;
         clear: left;
         float: left;
        }
    .new-div-border{
        padding: 20px;
        background-color: #fff;
        border-radius: 6px;
        margin: 0 6px;
        box-shadow: 0 0 10px 5px rgba(0,0,0,.2);
        border: 1px solid #ccc
    }
    .div-scrollable {
      max-height: 290px;
      overflow-y: scroll;
    }
</style>
<script>
    $(function(){
        if(!window.Modernizr.hashchange){
            alert("请下载最新浏览器！");
            window.location.href = "/outdate";
        }
        $(document).off('click.bs.dropdown.data-api');//可使导航栏的下拉框点击
        //$("li.dropdown .dropdown-toggle span.caret").remove();
        dropdownOpen();
        $(".onlyNum").onlyNum();
    });
    $(function(){
          $('.btn-toggle').click(function(){
            var $this = $(this); //找到当前btn-toggle定义的按钮组
            if($this.find('.btn-primary').length>0){
              $this.find('.btn').toggleClass('btn-primary');
            }
            //下面添加其它按钮CSS定义支持
            if($this.find('.btn-success').length>0){
              $this.find('.btn').toggleClass('btn-success');
            }
            if($this.find('.btn-info').length>0){
              $this.find('.btn').toggleClass('btn-info');
            }
            if($this.find('.btn-danger').length>0){
              $this.find('.btn').toggleClass('btn-danger');
            }
            $this.find('.btn').toggleClass('btn-default').toggleClass('active');
          });
    });
    function dropdownOpen() {
        //鼠标悬停弹下拉菜单
        var $dropdownLi = $('li.dropdown');
        $dropdownLi.mouseover(function () {
            $(this).addClass('open');
        }).mouseout(function () {
            $(this).removeClass('open');
        });
    }
    function doToggleAdmin(obj){
        var len = $("li[name='admin_detail'] :visible").length;
        var active_len = $("li[name='admin_detail'][class='active']").length;
        if(len==3){
            $("li[name='admin_detail']").hide();
            if(active_len==1){
                $(obj).parent().removeClass("active").addClass("active");
            }
        }else{
            $("li[name='admin_detail']").show();
            $(obj).parent().removeClass("active");
        }
    }
</script>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Proxy</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% if title == 'Home' %}active{% endif %}"><a href="/index">首页</a></li>
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品</a>#}
{#          <ul class="dropdown-menu" role="menu">#}
{#            <li><a href="#">期权</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="dropdown">#}
{#          <a href="#" class="dropdown-toggle" data-toggle="dropdown">平台</a>#}
{#          <ul class="dropdown-menu" role="menu">#}
{#            <li><a href="#">网页版交易</a></li>#}
{#          </ul>#}
{#        </li>#}
        <li class="dropdown {% if title == 'Index' %}active{% endif %}">
          <a href="/index" class="dropdown-toggle" data-toggle="dropdown">菜单</a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/index">Dashboard</a></li>
                <li><a href="/database">Database Proxy</a></li>
                <li><a href="/sql">SQL Log</a></li>
                <li class="dropdown-submenu"><a href="JavaScript:">Admin</a>
                    <ul class="dropdown-menu">
                        <li><a href="/normal">&nbsp;&nbsp;&nbsp;&nbsp;Normal Config</a></li>
                        <li><a href="/proxy">&nbsp;&nbsp;&nbsp;&nbsp;Proxy Server Config</a></li>
                        <li><a href="/user">&nbsp;&nbsp;&nbsp;&nbsp;User Management</a></li>
                     </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown {% if title == 'About' %}active{% endif %}">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">关于我们</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>欢迎, {{ session['username'] }}</a></li>
        <li><a href="/pwd">修改密码</a></li>
        <li><a href="/logout">登出</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>
{% block content %}{% endblock %}
</body>
</html>
