<!DOCTYPE html>
<html>
<head>
    <title>Exchange</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{ url_for('static',filename='JS/modernizr.custom.js') }}"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel='stylesheet' href="{{ url_for('static',filename='CSS/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/carousel.css') }}">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="{{ url_for('static',filename='JS/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='JS/jquery-ui.js') }}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="{{ url_for('static',filename='JS/bootstrap.min.js') }}"></script>
     <!-- WARNING: Respond.js doesn't work if you view the page via file://  and the response.js is for @media -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static',filename='JS/respond.src.js') }}"></script>
    <![endif]-->
</head>
<script>
    $(function(){
        if(!window.Modernizr.hashchange){
            alert("请下载最新浏览器！");
            window.location.href = "/outdate";
        }
        $(document).off('click.bs.dropdown.data-api');//可使导航栏的下拉框点击
        //$("li.dropdown .dropdown-toggle span.caret").remove();
        dropdownOpen();
        //scrollChange();
    });
    function dropdownOpen() {
        //鼠标悬停弹下拉菜单
        var $dropdownLi = $('li.dropdown');
        $dropdownLi.mouseover(function () {
            $(this).addClass('open');
        }).mouseout(function () {
            $(this).removeClass('open');
        });
    }
    function scrollChange(){
        $(window).scroll(function () {
            if ($(window).scrollTop() > 0) {
                $("#header_nav").removeClass("navbar-default-top").addClass("navbar-fixed-top");
            }
            else
            {
                $("#header_nav").removeClass("navbar-fixed-top").addClass("navbar-default-top");
            }
        });
    }
</script>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav id="header_nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button"
                            data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">多米投资</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">首页</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">DUOMI</a>
                            <ul class="dropdown-menu" id="myul" role="menu">
                                <li><a href="#">DUOMI介绍</a></li>
                                <li><a href="#">什么是交易所</a></li>
                                <li><a href="#">DUOMI优势</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">产品信息</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">DUOMI点差</a></li>
                                <li><a href="#">隔夜利息</a></li>
                                <li><a href="#">资金安全</a></li>
                                <li><a href="#">资金存取</a></li>
                                <li><a href="#">开户流程</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">软件操作</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">网页交易</a></li>
                                <li><a href="#">MT4交易</a></li>
                                <li><a href="#">手机交易</a></li>
                                <li><a href="#">操作说明</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">技术指导</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">市场新闻</a></li>
                                <li><a href="#">交易策略</a></li>
                                <li><a href="#">技术分析</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" href="#" data-toggle="dropdown">关于多米</a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">多米投资</a></li>
                                <li><a href="#">机构合作</a></li>
                                <li><a href="#">联系我们</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>欢迎, {{ session['username'] }}</a></li>
                        <li><a href="/logout">登出</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</div>


<!-- Carousel
================================================== -->
<div class="carousel slide" id="myCarousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        {#
        <li data-target="#myCarousel" data-slide-to="1"></li>
        #}
        {#
        <li data-target="#myCarousel" data-slide-to="2"></li>
        #}
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="#none"><img alt="First slide" src="{{ url_for('static',filename='img/body_pic3.png') }}"></a>

            <div class="container">
                <div class="carousel-caption" style="top:40%">
                    <h1>唯一的外汇交易所.</h1>

                    <p>所有订单撮合成交，平均执行速度低于4毫秒</p>

                    <p><a class="btn btn-lg btn-primary" role="button" href="#">Sign up today</a></p>
                </div>
            </div>
        </div>
        {#
        <div class="item">#}
            {# <img alt="Second slide" src="{{ url_for('static',filename='img/body_pic.jpg') }}">#}
            {#
            <div class="container">#}
                {#
                <div class="carousel-caption">#}
                    {# <h1>Another example headline.</h1>#}
                    {# <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
                    {# <p><a class="btn btn-lg btn-primary" role="button" href="#">Learn more</a></p>#}
                    {#
                </div>
                #}
                {#
            </div>
            #}
            {#
        </div>
        #}
        {#
        <div class="item">#}
            {# <img alt="Third slide" src="{{ url_for('static',filename='img/body_pic1.jpg') }}">{#data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==#}
            {#
            <div class="container">#}
                {#
                <div class="carousel-caption">#}
                    {# <h1>One more for good measure.</h1>#}
                    {# <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>#}
                    {# <p><a class="btn btn-lg btn-primary" role="button" href="#">Browse gallery</a></p>#}
                    {#
                </div>
                #}
                {#
            </div>
            #}
            {#
        </div>
        #}
    </div>
    <a class="left carousel-control" role="button" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" role="button" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-2" style="text-align: center;">
            <!--<img class="img-circle" style="width: 140px; height: 140px;" alt="Generic placeholder image"
                 src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==">-->

            <h2>交易所</h2>

            <p>多米投资是DUOMI交易所一级代理商</p>

            <p><a class="btn btn-primary btn-sm" role="button" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-2" style="text-align: center;">

            <h2>MT4交易</h2>

            <p>MT4是简洁方便的第三方交易软件</p>

            <p><a class="btn btn-primary btn-sm" role="button" href="#">View details »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-2" style="text-align: center;">

            <h2>网页交易</h2>

            <p>DUOMI交易所也同时能支持在线Web交易</p>

            <p><a class="btn btn-primary btn-sm" role="button" href="#">View details »</a></p>
        </div>


        <div class="col-lg-2" style="text-align: center;">

            <h2>资金安全</h2>

            <p>DUOMI开户客户受英国政府基金保护</p>

            <p><a class="btn btn-primary btn-sm" role="button" href="#">View details »</a></p>
        </div>
        <div class="col-lg-2" style="text-align: center;">

            <h2>我们的优势</h2>

            <p>真实点差散户与机构权力一样</p>

            <p><a class="btn btn-primary btn-sm" role="button" href="#">View details »</a></p>
        </div>
        <div class="col-lg-2" style="text-align: center;">

            <h2>合作伙伴</h2>

            <p>我们愿与各代理商共同开拓市场</p>

            <p><a class="btn btn-primary btn-sm" role="button" href="#">View details »</a></p>
        </div>
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">第一个标题. <span
                    class="text-muted">取决于你.</span></h2>

            <p class="lead">这里可以添加描述.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="500x500"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIG1lZXQiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48ZGVmcyAvPjxyZWN0IGZpbGw9IiNlZWVlZWUiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPjxnPjx0ZXh0IHN0eWxlPSJmb250LWZhbWlseTogQXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7IGZvbnQtc2l6ZTogMjNwdDsgZm9udC13ZWlnaHQ6IGJvbGQ7IGRvbWluYW50LWJhc2VsaW5lOiBjZW50cmFsOyBmaWxsOiAjYWFhYWFhOyIgeD0iMTkwLjMyNSIgeT0iMjUwIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4="
                 data-src="holder.js/500x500/auto" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="500x500"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIG1lZXQiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48ZGVmcyAvPjxyZWN0IGZpbGw9IiNlZWVlZWUiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPjxnPjx0ZXh0IHN0eWxlPSJmb250LWZhbWlseTogQXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7IGZvbnQtc2l6ZTogMjNwdDsgZm9udC13ZWlnaHQ6IGJvbGQ7IGRvbWluYW50LWJhc2VsaW5lOiBjZW50cmFsOyBmaWxsOiAjYWFhYWFhOyIgeD0iMTkwLjMyNSIgeT0iMjUwIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4="
                 data-src="holder.js/500x500/auto" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Heading.<span class="text-muted"></span>
            </h2>

            <p class="lead">Content..</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Heading.<span class="text-muted"></span></h2>

            <p class="lead">Content..</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" alt="500x500"
                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDAgNTAwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIG1lZXQiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48ZGVmcyAvPjxyZWN0IGZpbGw9IiNlZWVlZWUiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPjxnPjx0ZXh0IHN0eWxlPSJmb250LWZhbWlseTogQXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7IGZvbnQtc2l6ZTogMjNwdDsgZm9udC13ZWlnaHQ6IGJvbGQ7IGRvbWluYW50LWJhc2VsaW5lOiBjZW50cmFsOyBmaWxsOiAjYWFhYWFhOyIgeD0iMTkwLjMyNSIgeT0iMjUwIj41MDB4NTAwPC90ZXh0PjwvZz48L3N2Zz4="
                 data-src="holder.js/500x500/auto" data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

</div>
<!-- /.container -->
</body>
</html>
