{% extends 'header.html' %}
{% block content %}
    <script>
        function doCheckAll(obj) {
            $("input[id^='chk_pos_']").prop("checked", obj.checked);
            doSelect();
        }
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        });
        function doNew() {
            //init data
            $("#new_currency").val($("#init_currency").val());
            $("#new_type option[value='Call']").attr("selected", true);
            $("#new_price").val("1.25");
            var dateInit = new Date();
            var theDay = dateInit.getDate() + 7;//默认7天后
            var dayStr = theDay < 10 ? '0' + theDay : theDay;
            var dayMonth = parseInt(dateInit.getMonth()) + 1 < 10 ? '0' + (parseInt(dateInit.getMonth()) + 1) : (parseInt(dateInit.getMonth()) + 1);
            var days = dateInit.getFullYear() + "-" + dayMonth + "-" + dayStr;
            $("#datepicker").val(days);
            $("#new_money").val("100000");
            $("#new_sell").val("270.42 USD");
            $("#new_buy").val("270.42 USD");
            $("td[name='td_chk_sell']").removeClass("has-success");
            $("td[name='td_chk_buy']").removeClass("has-success");
            $("#id_chk_buy").prop("checked", false);
            $("#id_chk_sell").prop("checked", false);
            $("#btn_deal").prop("disabled",true);
            //init end
            $("#position_new").show();
            $("#position_list").hide();
        }
        function doCancel() {
            $("#position_list").show();
            $("#position_new").hide();
        }
        function selectSell(obj){
            $("td[name='td_chk_sell']").removeClass("has-success");
            $("td[name='td_chk_buy']").removeClass("has-success");
            $("#id_chk_buy").prop("checked", false);
            $("#btn_deal").attr("disabled",true);
            if (obj.checked)
            {
                $("td[name='td_chk_sell']").addClass("has-success");
            }
            else
            {
                $("td[name='td_chk_sell']").removeClass("has-success");
            }
        }
        function selectBuy(obj){
            $("td[name='td_chk_sell']").removeClass("has-success");
            $("td[name='td_chk_buy']").removeClass("has-success");
            $("#id_chk_sell").prop("checked", false);
            $("#btn_deal").attr("disabled",true);
            if (obj.checked)
            {
                $("td[name='td_chk_buy']").addClass("has-success");
                $("#btn_deal").attr("disabled",false);
            }
            else
            {
                $("td[name='td_chk_buy']").removeClass("has-success");
            }
        }
        function doSelect(){
            $("#btn_close").attr("disabled", true);
            var selectNum = $("input[name='chk_pos']:checked").length;
            if (selectNum > 0){
                $("#btn_close").attr("disabled", false);
            }
        }
        function doDeal(){
            var currency = $("#new_currency").val();
            var types = $("#new_type").val();
            var price = $("#new_price").val();
            var dates = $("#datepicker").val();
            var money = $("#new_money").val();
            var num = $("input[name='chk_pos']").length;
            var max = 1;
            if (num == 0) {
                max = 1
            } else {
                max = num + 1
            }
            var str = "<tr>"
                    + "<td><input type=\"checkbox\" id=\"chk_pos_"+max+"\" name=\"chk_pos\" onclick=\"doSelect()\"/></td>"
                    + "<td>"+currency+"</td>"
                    + "<td>"+types+"</td>"
                    + "<td>"+price+"</td>"
                    + "<td>"+money+"</td>"
                    + "<td>"+dates+"</td>"
                    + "<td>-397.00 USD</td>"
                    + "<td>119.15 USD</td>"
                    + "<td>-277.85 USD</td>"
                    + "<td></td>"
                    + "</tr>";
            $("#tbl_list").append(str);
            $("#position_list").show();
            $("#position_new").hide();
        }
        function doClose(){
            $("input[name='chk_pos']:checked").parent().parent().remove();
            $("#btn_close").prop("disabled", true);
        }
        function chg_curr(obj){
            $("#init_currency").val(obj.value);
        }
        function chg_init(obj){
            $("#new_currency").val(obj.value);
        }
    </script>
    <div class='container' style="width: 100%">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/index">Dashboard</a></li>
                    <li><a href="/database">Database Proxy</a></li>
                    <li><a href="/sql">SQL Log</a></li>
                    <li><a href="JavaScript:void(0);" onclick="doToggleAdmin()">Admin</a></li>
                    <li style="display: none;" name="admin_detail"><a href="/normal">&nbsp;&nbsp;&nbsp;&nbsp;Normal Config</a></li>
                    <li style="display: none;" name="admin_detail"><a href="/proxy">&nbsp;&nbsp;&nbsp;&nbsp;Proxy Server Config</a></li>
                    <li style="display: none;" name="admin_detail"><a href="/user">&nbsp;&nbsp;&nbsp;&nbsp;User Management</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <!--<h2 class="page-header">Dashboard</h2>-->

            </div>
        </div>
    </div>
{% endblock %}
